@font-face {
  font-family: 'DbAdmanX';
  src: url('fonts/DB Adman X v3.2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: prompt;
  src: url('/css/font/prompt-regular-webfont.woff2') format('woff2'),
       url('/css/font/prompt-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

 /* 
 
 
  color: #179c9b; --green 
  color: #e84c93; --pink 1



 */
body {
  font-family: 'DbAdmanX' !important;
}

h5 {
  font-size: 1.4rem !important;
}

h6 {
  font-size: 1.2rem !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DbAdmanX' !important;
}

.breadcrumb {
  font-family: 'DbAdmanX' !important;
}

.thisActive {
  background-color: #a7d0ea !important;
}
 
.custom-file-img {
  border: 1px solid #cacfe7;
  height: calc(2.75rem + 2px);
  padding: 0.5rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background-color: #fff;
  width: 7rem;
  border-radius: 1rem;
  text-align: center;
}

.bg_custom{
  background-color: #f3f5fc;
}
/* /////////////////////////    Zuang   ///////////////////////// */

.font1 {
  font-size: 1.0rem;
}

.mb-20 {
  margin-bottom: 20px;
}

form label {
  color: #6B6F82;
  font-weight: 600;
}

.form-body.usergroup {
  font-size: 1.2rem !important;
}

.form-control-danger {
  border: 1px solid #e6122f !important;
  color: #e6122f !important;
}

.custom-control-label::before {
  background-color: #dedede;
}

form .formnone {
  padding-top: 12px;
}

.form-group .formnone {
  padding-top: 12px;
}

.form-group label {
  color: #6B6F82;
  font-weight: 600;
}

html body.fixed-navbar {
  padding-top: 2rem;
}

.header-navbar .navbar-header .navbar-brand .brand-text {
  padding-left: 20px !important;
}

.header-navbar .navbar-header .navbar-brand .brand-logo {
  width: 52px !important;
}

.header-navbar .navbar-header .navbar-brand {
  padding: 10px 0px !important;
  margin-right: 0;
}

img.userprofile {
  height: 100px;
  max-width: unset !important;
}

img.userprofile_full {
  height: 250px;
}

.custom-control-label::before {
  background-color: #cccccc !important;
}

#form_usergroup form label {
  font-weight: unset;
  font-size: 1.3rem !important;
}

p.text-course {
  font-size: 1.4rem;
}

.avatar img {
  width: 80%;
  max-width: 100%;
  height: 32px !important;
  border-radius: 2px !important;
}

.avatar i {
  position: absolute;
  right: -4px !important;
  bottom: -4px !important;
}

.card-content.user_student {
  cursor: pointer;
}

.datep .form-control:disabled, .form-control[readonly] {
  background-color: #ffffff !important;
}

.danger_form {
  color: #ff0000 !important;
  border: 1px solid #ff0000 !important;
  -webkit-animation-name: example;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s;
  /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
}
 

 .btn.btn_green {
   background-color: #179c9b;
   color: #ffffff;
 }
 .btn.btn_pink {
  background-color: #e84c93;
  color: #ffffff;
}   

.hide{
  display: none;
}


.table th, .table td{
  border-top: unset;
}
/* ////////////////////////////  FIRSTPAGE ////////////////////////////// */
	html body.bg-full-screen-image{
     /* 
	  body#firstpage.bg-full-screen-image 
	 background: url(/images/bg/bg_green2.png) no-repeat center center fixed !important; */
   
	    background: url(/office/images/bg/bg17.png) no-repeat center center fixed;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		  font-size: 1.6rem;
  
    }
	

	body#firstpage h3.txt_depart span{
		display: block;
	}
	
	body#firstpage form #msg.form-group {
		margin-bottom: 0.8rem;
		min-height: 25px;
	}
	body#firstpage.forgetpass_page .form-control-position {
		position: absolute;
		top: 5px;
  }
  
  .footer_text{
    text-align: center;
    font-size: 1.2rem;
  }


  img.disease_pic{
    width: 220px;
  }
  img.box_flag{
    width: 18px;
  }
	.app-content.content .content-body{
    font-size: 1.2rem;
  }
  .note-editor .btn-group .btn-sm, .btn-group-sm > .btn{
    font-size: 1.0rem !important;
  }
  .note-toolbar button.note-btn{
    padding: 0.5rem 0.8rem;
  }

  a.btn.btn-icon.btn-xs{
    padding: .3rem 0.5rem;
    font-size: 1.2rem;
    line-height: 1;
    border-radius: 0.21rem;
  }
  a.btn.btn-icon.btn-xs.btn-round{
    padding: 0.2rem 0.2rem;
    font-size: 0.9rem;
    line-height: 0.7;
    border-radius: 1rem;
 
  } 

  /* ######################################################################### */
  /* ######################################################################### */
  /* ######################################################################### */
	@media (min-width: 200px){
	 
		
	}

    /* ######################################################################### */
  /* ######################################################################### */
  /* ######################################################################### */


	@media (min-width: 320px){
		 
		
  }
    /* ######################################################################### */
  /* ######################################################################### */
  /* ######################################################################### */
	@media (min-width: 480px){

		 
  }
    /* ######################################################################### */
  /* ######################################################################### */
  /* ######################################################################### */
	@media (min-width: 542px){
		 

	}
  /* ######################################################################### */
  /* ######################################################################### */
  /* ######################################################################### */
	@media (min-width: 768px){
 
  }
    /* ######################################################################### */
  /* ######################################################################### */
  /* ######################################################################### */
	@media (min-width: 1200px) {

	}
	
/* ////////////////////////////  END FIRSTPAGE  ////////////////////////////// */
 